/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Hirmos";
  src: url("../fonts/Hirmos.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  background-image: url(../img/fon2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header__text {
  text-align: center;
  font-family: "Hirmos";
  z-index: 2;
  color: white;
  text-shadow: 0px 0px 30px black;
}

.content__subtitle {
  margin-bottom: 25px;
  font-size: 36px;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 10px black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circular__portrait {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.5);
}
.content__description {
  text-align: center;
  margin-bottom: 80px;
  font-size: 50px;
  color: white;
}
img {
  width: 100%;
  height: auto;
}

.socialnetwork__items {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.support__items {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px;
}

.drop__shadow {
  filter: drop-shadow(0rem 0rem 0.9rem black);
  cursor: pointer;
}

.linksvk:hover svg path {
  fill: #3472c4;
}

.linksyb:hover svg path {
  fill: #c4302b;
}

.linkstg:hover svg path {
  fill: #4a72b7;
}

.boosty:hover svg path {
  fill: #fc8700;
}

.linksvk,
.linksyb {
  align-self: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header__text {
    margin-top: 35px;
    font-size: 40px;
  }

  .circular__portrait {
    width: 250px;
    height: 250px;
  }

  .center {
    margin-top: 40px;
  }
  .content__description {
    text-align: center;
    margin-bottom: 35px;
    font-size: 25px;
    color: white;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 40px;
  }

  .content__subtitle {
    font-size: 25px;
  }

  .socialnetwork__items svg {
    width: auto;
    height: 35px;
		gap: 25px;
  }

  .linkstg svg {
    width: auto;
    height: 45px;
		align-self: center;
  }

  .boosty svg {
		justify-content: center;
    width: auto;
    height: 50px;
		margin-bottom: 15px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .header__text {
    margin-top: 35px;
    font-size: 80px;
  }

  .circular__portrait {
    width: 350px;
    height: 350px;
  }

  .center {
    margin-top: 40px;
  }
  .content__description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 40px;
  }

  .content__subtitle {
    font-size: 40px;
  }

  .socialnetwork__items, .socialnetwork__items svg {
    width: auto;
    height: 45px;
		gap: 40px;
  }

  .linkstg, .linkstg svg {
    width: auto;
    height: 55px;
		align-self: center;
  }

  .boosty svg {
		justify-content: center;
    width: auto;
    height: 60px;
		margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .header__text {
    margin-top: 25px;
    font-size: 75px;
  }

  .circular__portrait {
    width: 400px;
    height: 400px;
  }
  .content__description {
    width: 700px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 80px;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 30px black;
  }
  .socialnetwork__items svg {
    width: auto;
    height: 45px;
  }
  .linkstg svg {
    width: auto;
    height: 60px;
  }
  .center {
    margin-top: 65px;
  }

  .boosty svg {
    width: auto;
    height: 65px;
  }

  .socialnetwork__items {
    gap: 40px;
  }

  .linkstg {
    align-self: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 85px;
  }

  .content__subtitle {
    font-size: 40px;
  }

  .support__items {
    justify-content: center;
    margin-bottom: 20px;
  }
}
