/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

@font-face {
  font-family: 'Hirmos';
  src: url('../fonts/Hirmos.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

html {
  background-image: url(../img/fon2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header__text {
  text-align: center;
  font-family: 'Hirmos';
  z-index: 2;
  color: white;
  text-shadow: 0px 0px 30px black;
}

.content__subtitle {
  margin-bottom: 20px;
  font-size: 36px;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 10px black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.circular__portrait {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.5);
}
.circular__portrait img {
  width: 100%;
  height: auto;
}

.socialnetwork__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.support__items {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 80px;
}

.drop__shadow {
  filter: drop-shadow(0rem 0rem 0.9rem black);
  cursor: pointer;
}

.linksvk:hover svg path {
  fill: #3472c4;
}

.linksyb:hover svg path {
  fill: #b42d2d;
}

.linkstg:hover svg path {
  fill: #4a72b7;
}

.linkstg:hover svg path {
  fill: #4a72b7;
}

.boosty:hover svg path {
  fill: #fc8700;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header__text {
    font-size: 120px;
  }

  .avatar {
    width: 90%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header__text {
    font-size: 100px;
  }
  .avatar {
    width: 70%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header__text {
    margin: 100px 30px;
    font-size: 120px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header__text {
    margin: 30px 30px 80px;
    font-size: 72px;
  }
  .avatar {
    width: 40%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header__text {
    font-size: 72px;
  }
}
